.Driver_Profile {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 6rem;
  background-color: rgba(89, 167, 255, 0.781);
}

.Login-Header {
  font: inherit;
  font-size: 40px;
  font-weight: bold;
}

.pii-field {
    display: flex;
}

    .pii-field label {
        font-weight: bold;
        margin-bottom: 0.5rem;
        display: block;
        font-size: 25px;
        margin-top: 1rem;
    }

    .pii-field input {
        font-size: 25px;
        padding-top: 5px;
        padding-right: 3px;
        padding-bottom: 5px;
        padding-left: 25px;
        border-radius: 50px;
        width: 17rem;
        height: 3rem;
        border: 3px solid #0a93ee;
        margin-bottom: 1rem;
    }

.update-button {
    text-align: center;
}

::-webkit-input-placeholder {
    font-size: 25px;
    padding-top: 5px;
    padding-right: 3px;
    padding-bottom: 5px;
    padding-left: 25px;
}

::-moz-placeholder {
    font-size: 25px;
    padding-top: 5px;
    padding-right: 3px;
    padding-bottom: 5px;
    padding-left: 25px;
}

:-ms-input-placeholder {
    font-size: 25px;
    padding-top: 5px;
    padding-right: 3px;
    padding-bottom: 5px;
    padding-left: 25px;
}

::placeholder {
    font-size: 25px;
    padding-top: 5px;
    padding-right: 3px;
    padding-bottom: 5px;
    padding-left: 25px;
}
