.page {
  width: 100%;
  height: 100vh;
  background-color: white;
}

.spacer {
  height: 5rem;
}

.page h1 {
  text-align: center;
  margin-top: 1.5rem;
}

.page h2 {
  text-align: center;
}

.form-box {
  height: 65vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  justify-content: space-between;
}

.form label {
  font-weight: bold;
  display: block;
  font-size: 25px;
  margin-bottom: 0.3rem;
}

.form p {
  margin-bottom: 1rem;
}

.form button {
  font: inherit;
  font-size: 30px;
  cursor: pointer;
  border: 1px solid #0a93ee;
  background-color: #0a81cf;
  color: white;
  border-radius: 30px;
  margin-top: 3rem;
  width: 20rem;
  height: 4rem;
}

.form input {
  font-size: 25px;
  padding-top: 5px;
  padding-right: 3px;
  padding-bottom: 5px;
  border-radius: 5px;
  width: 17rem;
  height: 3rem;
  border: 3px solid #0a93ee;

  text-indent: 1rem;
}
