.Login_Page {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  align-items: center;
  --web-view-name: Login Page;
  --web-view-id: Login_Page;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}

.Left-Component {
  display: flex;
  align-items: center;
  justify-items: center;
  /*background: url("/../../../public/Semi-Truck-ClipART.png");*/
  background-color: rgba(251, 31, 31, 0.788);
  background-repeat: no-repeat;
  background-position-y: 10rem;
  background-position-x: 3rem;
  width: 120rem;
  height: 100%;
}

.Right-Component {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  background-color: rgb(255, 255, 255);
}

.Main-Text {
  left: 40px;
  top: 425px;
  position: absolute;
  overflow: visible;
  width: 704px;
  white-space: nowrap;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 33px;
  color: rgba(255, 255, 255, 1);
}
.Subtext {
  left: 40px;
  top: 503px;
  position: absolute;
  overflow: visible;
  width: 500px;
  height: 62px;
  text-align: left;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  color: rgba(255, 255, 255, 1);
}

.Login-Header {
  justify-items: center;
  font-family: "Monterrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  color: rgb(0, 0, 0);
}

.LOGIN {
  left: 119px;
  top: 15px;
  position: absolute;
  overflow: visible;
  width: 63px;
  white-space: nowrap;
  text-align: center;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.5px;
}

.Link {
  color: #0a93ee;
}

.EMAIL {
  font-size: 25px;
  padding-top: 5px;
  padding-right: 3px;
  padding-bottom: 5px;
  padding-left: 25px;
  border: 1px solid #000000;
  margin-top: 2rem;
  border-radius: 50px;
  width: 17rem;
  height: 2rem;
  border: 3px solid #0a93ee;
}

.PASSWORD {
  font-size: 25px;
  padding-top: 5px;
  padding-right: 3px;
  padding-bottom: 5px;
  padding-left: 25px;
  border: 1px solid #000000;
  margin-top: 2rem;
  border-radius: 50px;
  width: 17rem;
  height: 2rem;
  border: 3px solid #0a93ee;
}

.Cards {
  background-color: #69696900;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);

  border-radius: 12px;
  box-shadow: 2 1px 8px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 31rem;
  min-height: 20rem;
}

.Cards-2 {
  margin-top: 3.7rem;
  background-color: #69696900;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  font-size: calc(10px + 2vmin);

  border-radius: 12px;
  box-shadow: 2 1px 8px rgba(0, 0, 0, 0.25);
  width: 25rem;
  height: 20rem;
  min-height: 20rem;
}

.Right-Component button {
  font: inherit;
  font-size: 30px;
  cursor: pointer;
  border: 1px solid #0a93ee;
  background-color: #0a81cf;
  color: white;
  border-radius: 30px;
  margin-top: 2rem;
  width: 20rem;
  height: 4rem;
  margin-bottom: 5rem;
}

.Link:hover {
  color: #00f;
}

.Right-Component button:hover,
.Right-Component button:active {
  background-color: #0886da;
  border-color: #0a93ee;
}
::-webkit-input-placeholder {
  font-size: 25px;
  padding-top: 5px;
  padding-right: 3px;
  padding-bottom: 5px;
  padding-left: 25px;
}
::-moz-placeholder {
  font-size: 25px;
  padding-top: 5px;
  padding-right: 3px;
  padding-bottom: 5px;
  padding-left: 25px;
}
:-ms-input-placeholder {
  font-size: 25px;
  padding-top: 5px;
  padding-right: 3px;
  padding-bottom: 5px;
  padding-left: 25px;
}
::placeholder {
  font-size: 25px;
  padding-top: 5px;
  padding-right: 3px;
  padding-bottom: 5px;
  padding-left: 25px;
}
