.spacer {
  height: 5rem;
}
.Header {
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 25rem;
}

.Tags {
  padding-left: 7.5rem;
}

.PointTakePage {
  background: rgba(201, 108, 255, 0.192);
}
