.Wishlist {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 6rem;
    color: rgb(0, 0, 0);
    background-color: rgba(89, 167, 255, 0.781);
  }

  .line_50 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 5px;
    background-color:rgb(16, 19, 245);
    opacity: 0.5;
  }