.new-driver__controls {
  display: flex;
}

.new-driver__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  font-size: 25px;
  margin-top: 1rem;
}

.new-driver__control input {
  font-size: 25px;
  padding-top: 5px;
  padding-right: 3px;
  padding-bottom: 5px;
  padding-left: 25px;
  border-radius: 50px;
  width: 17rem;
  height: 3rem;
  border: 3px solid #0a93ee;
  margin-bottom: 1rem;
}

.new-driver__actions {
  text-align: center;
}

::-webkit-input-placeholder {
  font-size: 25px;
  padding-top: 5px;
  padding-right: 3px;
  padding-bottom: 5px;
  padding-left: 25px;
}
::-moz-placeholder {
  font-size: 25px;
  padding-top: 5px;
  padding-right: 3px;
  padding-bottom: 5px;
  padding-left: 25px;
}
:-ms-input-placeholder {
  font-size: 25px;
  padding-top: 5px;
  padding-right: 3px;
  padding-bottom: 5px;
  padding-left: 25px;
}
::placeholder {
  font-size: 25px;
  padding-top: 5px;
  padding-right: 3px;
  padding-bottom: 5px;
  padding-left: 25px;
}

.line {
  border: 0.8px solid #a8a8a8;
  width: 85%;
  margin-top: 1rem;
  margin-bottom: 1;
}
