.new-driver {
  background-color: #c6c5c959;
  padding: 1rem;
  margin: 3rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-driver-label {
  font: inherit;
  font-size: 40px;
  font-weight: bold;
}

.header {
  margin-bottom: 1rem;
}

.new-driver button {
  font: inherit;
  font-size: 20px;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #0a93ee;
  background-color: #0a93ee;
  color: white;
  border-radius: 12px;
  margin-top: 1.5rem;
}

.new-driver button:hover,
.new-driver button:active {
  background-color: #0886da;
  border-color: #0a93ee;
}
