:root {
  --primary-dark: #5651e5;
  --primary-light: #709dff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 1240px;
  margin: auto;
  padding: 0 1rem;
}

button {
  background-image: linear-gradient(
    45deg,
    var(--primary-dark) 0%,
    var(--primary-light) 100%
  );
  border: 1px solid var(--primary-dark);
  color: #fff;
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
