.pageThis {
  margin-bottom: 7rem;
}
.Graph {
  height: 75%;
  width: 80%;
  background-color: #1f2025;
  border-radius: 10px;
  position: relative;
  align-items: center;
  top: 5rem;
  margin-bottom: 5rem;
  left: 10%;

  box-shadow: #fff;
}

.line-chart {
  height: 100%;
  width: 60%;
  background-color: #1f2025;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.Graph h3 {
  padding: 2rem 2rem;
  color: #fff;
}

.dropdown {
  align-self: right;
  padding-top: 2rem;
  background-color: #1f2025;
}

.butt {
  color: #fff;
}
