.WeStand img {
  height: 100px;
  width: 100px;
}

.WeStand {
  width: 100%;
  padding: 2rem 0;
}

.WeStand .container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: auto;
  padding: .1rem;
}

.promo {
  width: 100%;
  margin: 0.4rem 0;
  margin-bottom: 4rem;
  border: 1px solid #333;
  text-align: center;
}

.promo h4 {
  font-size: 1.6rem;
  color: var(--primary-dark);
}

.promo .timer {
  padding: 1rem 0;
  font-size: 1.2rem;
}

.promo .offers {
  background: #333;
  color: #f5f5f5;
  padding: 0.4rem 0;
}

.WeStand form {
  display: flex;
  flex-direction: column;
}

.input-wrap {
  margin: 0.4rem;
  display: flex;
  flex-direction: column;
}

.WeStand input,
select {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  outline: none;
}

.WeStand .date {
  display: flex;
}
.Westand button {
  margin: 0.4rem;
}

@media screen and (max-width: 940px) {
  .WeStand .container {
    grid-template-columns: 1fr;
  }

  .driverOfTheYear {
    grid-template-columns: 1fr;
  }

  .WeStand .right {
    max-width: 100%;
  }

  .WeStand form {
    width: 100%;
  }

  .WeStand .date {
    flex-direction: column;
  }
}
