.Login-Header {
  font: inherit;
  font-size: 40px;
  font-weight: bold;
  margin: auto;
  width: 100%;
}
.Subtext {
  left: 40px;
  top: 503px;
  position: absolute;
  overflow: visible;
  width: 500px;
  height: 62px;
  text-align: left;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  color: rgba(255, 255, 255, 1);
}
::placeholder {
  font-size: 25px;
  padding-top: 5px;
  padding-right: 3px;
  padding-bottom: 5px;
  padding-left: 25px;
}
