.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  z-index: 2;
  position: absolute;
  color: #f5f5f5;
  background: rgb(4, 155, 255);
}

h2 {
  cursor: pointer;
}

h2 .icon {
  cursor: pointer;
  position: relative;
}

.navbar-bg {
  /*background-color: #f5f5f5;*/
  background-color: #000000;
}
.nav-menu {
  display: flex;
  color: #f5f5f5;
}

li {
  padding: 0 1.5rem;
  color: #f5f5f5;
  cursor: pointer;
}

.Hamburger {
  display: none;
}

.small {
  display: none;
}
.icons {
  cursor: pointer;
}

.nav-icons .icon:hover {
  transform: scale(1.5);
  transition: 0.3s;
}

.icon {
  cursor: pointer;
}

.nav-menu li:hover {
  transform: scale(1.5);
  transition: 0.3s;
}

@media screen and (max-width: 940px) {
  .small {
    display: flex;

    flex-direction: column;
    width: 100%;
    top: -100vh;
    left: 0;
    /*color: blue;*/
    position: absolute;
    justify-content: space-between;
    background-color: #f5f5f5;
    /*align-items: center;*/
    transition: 0.3s;
  }

  .active {
    top: 50px;
  }
  .small li {
    padding: 1.2rem 1rem;
    margin: 0 1rem;
    color: black;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  .small li:hover {
    transform: scale(1.05);
    transition: 0.3s;
  }

  .small-menu {
    margin: 1rem 0;
  }

  .small-menu-bot {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }

  .socials {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
  }
  .socials .icons:hover {
    transform: scale(1.5);
    transition: 0.3s;
  }

  .menu-icos button {
    margin: 1rem;
    width: 90%;
  }

  .nav-menu {
    display: none;
  }
  .nav-icons {
    display: none;
  }
  .Hamburger {
    display: block;
    position: right;
  }
  .Hamburger .icon:hover {
    transform: scale(1.5);
    transition: 0.3s;
  }
  
}
